body{
    background-color: rgb(0, 153, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow-x: hidden;
    background-image: url(../HomeImg/Home5.png);
}

.MainBody{
    position: absolute;
    top: 20%;
    left: 35%;
}