body{
    background-image: url(img/BG3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}

h1{
    position: absolute;
    top: 1%;
    left: 1%;
}

.list{
    position: absolute;
    left: 1%;
}

.MainDiv{
    position: absolute;
    background-color: aliceblue;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 5px 10px;
    padding: 80px 150px;
    height: 750px;
    width: 350px;
    top: 0%;
    left: 0%;
}

.inputCon{
    position: absolute;
    top: 82%;
    left: 1%;
}

input{
    width: 630px;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.SideDiv{
    position: absolute;
    background-color: transparent;
    box-shadow: 5px 10px;
    padding: 80px 150px;
    height: 1000px;
    width: 240px;
    top: 0%;
    right: 0%;
}

.Mascot{
    position: absolute;
    background-color: transparent;
    background-image: url(../img/Mascot/e1.png);
    padding: 100px 300px;
    height: 1000px;
    width: 100px;
    background-size: 650px 950px;
    left: -13%;
    top: 0%;
}